body{
    background-color: #e9ffcb;
    margin: 0;
    }

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #363e32;
    padding: 30px 0;
    z-index: 1000;
    border-bottom: 6px solid #000000;
}

#top{
    scroll-margin-top: 120px;
}

#profile{
    scroll-margin-top: 120px;
}

#skills{
    scroll-margin-top: 120px;
}

#works{
    scroll-margin-top: 120px;
}

.jumps{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 40px;
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
}

.jump_text:link {
    color: white;
    text-decoration: none;
}

.jump_text:visited {
    color: white;
    text-decoration: none;
}

.jump_text:hover {
    color: white;
    text-decoration: underline;
}

.jump_text:active {
    color: white;
}

h1{
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    margin-left: 40px;
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
}

h2{
    font-size: 20px;
    text-align: center;
    margin: 100 auto;
    margin-left: 40px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3{
    text-align: center;
    font-size: 40px;
    margin: 60px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

h4{
    width: 1000px;
    font-size: 30px;
    margin: 0 auto;
    font-family: "DotGothic16", system-ui;
    font-weight: 400;
    font-style: normal;
}

h5{
    text-align: center;
    font-size: 20px;
    font-family: "DotGothic16", system-ui;
    font-weight: 400;
    font-style: normal; 
}

h6{
    width: 1000px;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-family: "DotGothic16", system-ui;
    font-weight: 400;
    font-style: normal;
}

h7{
    color: white;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    font-family: "DotGothic16", system-ui;
    font-weight: 400;
    font-style: normal;
}

p{
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    width: 400px;
    font-family: "DotGothic16", system-ui;
    font-weight: 400;
    font-style: normal; 
}

.baner{
    position: fixed;
    width: 50px;
    height: auto;
}

.icon{
    width: 30%;
    height: auto;
}

.top{
    display: flex;
    align-items: center;
    background-color: #d1e191;
    text-align: center;
    margin-top: 65px;
}

.profile{
    display: flex;
    font-size: 20px;
    text-align: left;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button{
    background-color: #d1e191;
    border: 5px solid #363e32;
    width: 200px;
    height: auto;
    padding: 12px 26px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.skills{
    width: 150px;
    height: auto;
    border: 5px solid #363e32;
    margin: 0 ;
}

.works{
    width: auto;
    height: 200px;
    margin: 0 ;
}

.works_container{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 70px;
    margin-bottom: 40px;
}

.skills_button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button:hover {
    background-color: #abc151;
}

.skills_image{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
    margin: 5px;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
}

.product{
    width: 450px;
    background-color: #d1e191;
    border: 5px solid #363e32;
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
}

.product_image{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
    margin: 5px;
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
}

figure{
    margin: 0;
    text-align: center;
    margin-top: 10px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

figcaption {
    margin-top: 10px;
    font-size: 15px;
}

.SNS{
    width: 50px;
    height: auto;
}

.SNS_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
    padding-top: 0;
    padding-right: 20px;
}

footer {
    top: 0;
    display: flex;
    width: 100%;
    background-color: #363e32;
    padding: 30px 0;
    z-index: 1000;
    border-bottom: 6px solid #000000;
}

@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}