body{
    background-color: #cdf7e4;
    font-family: DotGothic16;
    color: #363e32
    }

h1{
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
    margin-left: 40px;
}

h2{
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    margin-left: 40px;
}

h3{
    text-align: center;
    font-size: 60px;
}

p{
    width: 1000px;
    font-size: 30px;
    margin: 0 auto;
    text-align: left;
}

.icon{
    width: 30%;
    height: auto;
}

.main{
    display: flex;
    align-items: center;
    background-color: #d1e191;
    text-align: center;
}

.profile{
    display: flex;
    font-size: 20px;
}

.skills{
    display: flex;
    align-items: center;
    text-align: center;
}